@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #1a1a1a;
  color: #fff;
}

h1 {
  color: violet;
}

#wrapper {
  padding: 2em;
  width: 100vw;
  height: 100vh;
}

#inputTask {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#inputTask input {
  width: 100%;
  height: 40px;
  font-size: 1em;
  padding-left: 0.5em;
}

#inputTask button {
  padding: 0rem 1.5rem;
  height: 40px;
  background-color: violet;
  color: darkmagenta;
  font-weight: bold;
  border: 0;
  border-radius: 0.5em;
  margin-left: 1em;
  cursor: pointer;
}

#tasksList{
    list-style: none;
    margin-top: 1em;
    width: 100%;
}

#tasksList li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    width: 100%;
    padding: 0em 1em;
    border-bottom: 1px solid #333;
}

#tasksList li:hover{
    background-color: #222;
    cursor: pointer;
}

#tasksList li.checked{
    text-decoration: line-through;
    background-color: #333;
    border-left: 0.5em solid green;
}
